<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Workout</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <h1>Your Workout Planner</h1>
        <br>
        <!--etusivulle-->
        <a class="btn btn-secondary" href="/index">Back</a>
        <br>
        <br>
        <h3>Create new program</h3>
        <br>
        <form method="post" action="#" th:action="@{/saveprogram}" th:object="${workoutProgram}">
            <div class="row g-3">
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name your workout program">
                </div>

                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{date}" placeholder="Date">
                </div>

                <div class="col-sm">
                    <button type="submit" class="btn btn-success">Create workout</button>
                </div>
            </div>
        </form>


    </div>
</body>

</html>