<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Planner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <h1>Your Workout Planner</h1>
        <br>
        <a class="btn btn-secondary" href="/exerciselist">List of Exercises</a>
        <a class="btn btn-secondary" href="/createprogram">Create new workout</a>
        <br>
        <br>
        <h3>Programs</h3>
        <!-- listaus workoutProgrammeista-->
        <br>
        <table class="table table-striped"> <!--taulukko-->
            <tr><!--taulukon rivi-->
                <th>Program name</th> <!--taulukon otsikko-->
                <th>Date</th>
                <th type="hidden"></th>
            </tr>
            <tr th:each="workoutProgram : ${workoutPrograms}">
                <td th:text="${workoutProgram.name}"></td>
                <td th:text="${workoutProgram.date}"></td>
                <!--open -näppäin-->
                <td class="text-end">
                    <a class="btn btn-secondary"
                        th:href="@{/openprogram/{id} (id = ${workoutProgram.workoutProgramId})}">Open</a>
                    <!--poistonäppäin-->
                    <a class="btn btn-danger"
                        th:href="@{/delete/{id} (id = ${workoutProgram.workoutProgramId})}">Delete</a>
                </td>


            </tr>
        </table>
    </div>
</body>

</html>