<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <h1>Your Workout Planner</h1>
        <br>
        <!--etusivulle-->
        <a class="btn btn-secondary" href="/index">Back</a>
        <br>
        <br>
        <!--uuden liikkeen lisäys (form?)-->
        <h3>Add exercise</h3>
        <div class="container">
            <div>
                <form method="post" action="#"
                    th:action="@{/addexercise/{programId} (programId=${wProgram.workoutProgramId})}"
                    th:object="${workoutProgramExercise}">

                    <!-- wpe id piilotettuna, jotta edit toiminto toimii oikein -->
                    <input type="hidden" th:field="*{workoutPExerciseId}">

                    <div class="row g-1">
                        <div class="col">
                            <select id="exerciselist" th:field="*{exercise}" class="form-select">
                                <option value="">Select exercise</option>
                                <option th:each="exercise : ${exercises}" th:value="${exercise.exerciseId}"
                                    th:text="${exercise.name}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('exercise')}" th:errors="*{exercise}"></div>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" th:field="*{reps}" placeholder="Reps">
                            <div th:if="${#fields.hasErrors('reps')}" th:errors="*{reps}"></div>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" th:field="*{weights}" placeholder="Weights">
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" th:field="*{date}" placeholder="Date">
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" th:field="*{comments}" placeholder="Comments">
                        </div>

                        <div class="col text-end">
                            <button type="submit" class="btn btn-outline-success">Add exercise</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <!--taulukko liikkeistä jne-->
        <table class="table table-striped">
            <tr>
                <th>Exercise</th>
                <th>Reps</th>
                <th>Weights</th>
                <th>Date</th>
                <th>Comments</th>
                <th type="hidden"></th>
            </tr>
            <tr th:each="workoutProgramExercise : ${workoutProgramExercises}">
                <td th:text="${workoutProgramExercise.exercise.name}"></td>
                <td th:text="${workoutProgramExercise.reps}"></td>
                <td th:text="${workoutProgramExercise.weights}"></td>
                <td th:text="${workoutProgramExercise.date}"></td>
                <td th:text="${workoutProgramExercise.comments}"></td>
                <!--poistonäppäin liikkeelle-->
                <td class="text-end">
                    <a class="btn btn-outline-secondary"
                        th:href="@{/editWPE/{id}(id=${workoutProgramExercise.workoutPExerciseId})}">Edit</a>
                    <a class="btn btn-outline-danger"
                        th:href="@{/deleteWPE/{id}(id=${workoutProgramExercise.workoutPExerciseId})}">Delete</a>
                </td>
            </tr>
        </table>


    </div>
</body>

</html>